<% include ../partial/aheader %>
<script type="text/javascript">
  $('.nav-link').eq(1).addClass('active');
</script>

<link rel="stylesheet" href="/style/calendar.css">

<div class="container">
    <div class="col-md-2"> </div>
    <div id="calBox" class="col-md-8">
      <!-- Calendar is built in script  -->
    </div>
</div>

<script type="text/javascript" src="/script/caladmin.js">
//Calendar script builds calendar and displays appointments

</script>

<% include ../partial/footer %>
