<% include ../partial/aheader %>

<input id='upload-input' type='file' multiple='multiple'>

<style media="screen">

</style>


<div id='pageBack' class="container">
  <span id='upBtn' class="btn btn-outline-primary btn-sm pull-right">
    Upload
  </span>
  <div id='galleryScrollBox'>
  <% if(images){ images.forEach(function(image){ %>
    <div class="imgBox pull-left">
      <a href="#" class='imageLink'>
        <img src="<%= image.thumb %>"
        data-id= "<%= image._id %>">
      </a>
    </div>
  <% })}; %>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CHANGE ME</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id='modalImg'>
        <form id='imageInfo' class="row" action="admin/updateImage/" method="post">
          <div class='col-md-1'></div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Image Title: </label>
              <input id='imageNameInput' class='form-control' type="text" name="image[name]">
            </div>
            <div class="form-group">
              <label>Image Tagline: </label>
              <input id='imageAboutInput' class='form-control' type="text" name="image[about]">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Options: </label>
              <div class="checkbox">
                <label>
                  <input id='imageSliderCheck'  type="checkbox" name="image[inSlider]"> SlideShow
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id='imageGalleryCheck' type="checkbox" name="image[inGallery]"> Gallery
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id='delImageBtn' type="button" class="btn btn-danger" name="button">Delete</button>
        <button id='saveImage' type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#upload-input').hide();
  hook('#upload-input');

  $("#upBtn").on("click", function() {
    $('#upload-input').click();
  });

  $('#saveImage').on('click', function(e){
    $('#imageInfo').submit();
  });

  $('.imageLink').on('click', function(e){
    let id = $(e.target).data("id");
    $.ajax({url: "/image/" + id, success: function(data){
      let modal = $('.modal');
      modal.find(".modal-title").html(data.name);
      $('#imageInfo').attr('action', '/admin/updateImage/' + data._id);
      $("#imgEdit-button").data('id', data._id);
      $("#imgDelete-button").data('id', data._id);
      $('#modalImg').attr("src", data.file);
      $('#delImageBtn').data('id', data._id);
      $('#imageNameInput').val(data.name);
      $('#imageAboutInput').val(data.about);
      if(data.inSlider){ $('#imageSliderCheck').prop("checked", true);}
      if(data.inGallery){ $('#imageGalleryCheck').prop("checked", true);}

      $('.modal').modal().show();
    }});
  });

$('#delImageBtn').on('click', function(e){
  let id = $(e.target).data("id");
  $.ajax({
    url: "/admin/deleteImage/" + id,
    success: function(data){
      console.log("image deleted");
    },
    complete: function(){
      location.reload();
    }
  });
});

$('#upBtn')

$('.nav-link').eq(3).addClass('active');
</script>

<% include ../partial/footer %>
