<% include ../partial/aheader %>

<input id='upload-input' type='file' multiple='multiple'>

<style media="screen">

</style>


<div class="container">
  <div id='upBtn' class="btn btn-lg btn-default pull-right">
    Upload
  </div>
</div>

<div class="container">
  <% if(images){ images.forEach(function(image){ %>
    <div class="imgBox pull-left">
      <a href="#" class='imageLink'>
        <img src="<%= image.thumb %>"
        data-id= "<%= image._id %>">
      </a>
    </div>
  <% })}; %>
</div>

<div class="modal fade view-image-modal" tabindex="-1" role="dialog" aria-labelledby="picDisplay">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Change Me</h4>
      </div>
      <img id='modalImg' class="preview thumbnail" src="" style="margin: 15px auto;width: 85%;">
      <div class="imageInfoBox container-fluid">
        <div class=""><!-- placeholder --></div>
        <form id='imageInfo' class="col-sm-12" action="admin/updateImage/" method="post">
          <div class="col-md-10">
            <div class="form-group">
              <label>Image Title: </label>
              <input id='imageNameInput' class='form-control' type="text" name="image[name]">
            </div>
            <div class="form-group">
              <label>Image Tagline: </label>
              <input id='imageAboutInput' class='form-control' type="text" name="image[about]">
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>Options: </label>
            <div class="checkbox">
              <label>
                <input id='imageSliderCheck'  type="checkbox" name="image[inSlider]"> SlideShow
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input id='imageGalleryCheck' type="checkbox" name="image[inGallery]"> Gallery
              </label>
            </div>
          </div>
          <div id='delImageBtn' data-id='CHANGEME' class="btn btn-danger pull-right"> Delete </div>
          <button type="submit" class='btn btn-success pull-right' name="button">Save</button>

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#upload-input').hide();
  hook('#upload-input');

  $("#upBtn").on("click", function() {
    $('#upload-input').click();
  });


  $('.imageLink').on('click', function(e){
    let id = $(e.target).data("id");
    $.ajax({url: "/image/" + id, success: function(data){
      let modal = $('.view-image-modal');
      modal.find(".modal-title").html(data.name);
      $('#imageInfo').attr('action', '/admin/updateImage/' + data._id);
      $("#imgEdit-button").data('id', data._id);
      $("#imgDelete-button").data('id', data._id);
      $('#modalImg').attr("src", data.file);
      $('#delImageBtn').data('id', data._id);
      $('#imageNameInput').val(data.name);
      $('#imageAboutInput').val(data.about);
      if(data.inSlider){ $('#imageSliderCheck').prop("checked", true);}
      if(data.inGallery){ $('#imageGalleryCheck').prop("checked", true);}

      $('.view-image-modal').modal().show();
    }});
  });

$('#delImageBtn').on('click', function(e){
  let id = $(e.target).data("id");
  $.ajax({
    url: "/admin/deleteImage/" + id,
    success: function(data){
      console.log("image deleted");
    }
  })
});

</script>

<% include ../partial/footer %>
