<% include ../partial/aheader %>


<div id='pageBack' class="container" >
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Gallery Information:
        </div>
        <div class="card-body">
            <dl class='row'>
              <dt class='col-md-6'>Total Images: </dt>
              <dd class='col-md-6 text-right'><span id='imgTot'>[Loading]</span></dd>
              <dt class='col-md-6'>In SlideShow: </dt>
              <dd class='col-md-6 text-right'><span id='imgSlide'>[Loading]</span></dd>
              <dt class='col-md-6'>In Gallery: </dt>
              <dd class='col-md-6 text-right'><span id='imgGallery'>[Loading]</span></dd>
              <dt class='col-md-6'>Space on Disk: </dt>
              <dd class='col-md-6 text-right'><span id='imgSOD'>[Loading]</span></dd>
            </dl>
            <div class="card-text text-right">
              <button type="button" class="btn btn-outline-primary">Gallery</button>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Appointment Information:
        </div>
        <div class="card-body">
          <dl class='row'>
            <dt class='col-md-6'>Today's : </dt>
            <dd class='col-md-6 text-right'> <span id='todayApt'> [Loading] </span> </dd>
            <dt class='col-md-6'>Open Requests:</dt>
            <dd class='col-md-6 text-right'><span id='pendingApt'> [Loading] </span></dd>
            <dt class='col-md-6'>Appointments:</dt>
            <dd class='col-md-6 text-right'><span id='allOpen'> [Loading] </span></dd>
          </dl>
          <div class="card-text text-right">
            <button class="btn btn-outline-primary" type="button" name="button">Schedule</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



<script type="text/javascript">

//==================================================
//                  Image Info
//==================================================
var imagesSizeOnDisk;
var images = [];
  $(document).ready(function() {
    $.ajax({
      url: "/admin/gallerySOD",
      success: function(data){
        imagesSizeOnDisk = data / 1024;
        $('#imgSOD').html(imagesSizeOnDisk.toFixed(2) + "KB");
      },
      complete: function(){

      }
    });

    $.ajax({
      url: "/image/all",
      success: function(data){
        parseImageData(data);
      }
    });

  });


  function parseImageData(array){
    var inGallery = [];
    var inSlideShow = [];
    var total = [];
    array.forEach(function(img){
      if(img.inGallery) inGallery.push(img);
      if(img.inSlider) inSlideShow.push(img);
      total.push(img);
    });

    $('#imgTot').html(total.length);
    $('#imgGallery').html(inGallery.length);
    $('#imgSlide').html(inSlideShow.length);
  }

//==================================================
//              Appointment Info
//==================================================
var pendApt = [];
var openApt = [];
var aptToday = [];


$.ajax({
  url: "/api/getAppointments",
  success: function(data){
    for(let i = 0; i < data.length; i++){
      switch(data[i].status){
        case 'pending':
        pendApt.push(data[i]);
        break;
        case 'open':
          openApt.push(data[i]);
          let date = moment(data[i].date);
          let today = moment(new Date());
          if(today.diff(date, 'days') < 1){
            aptToday.push(data[i]);
          }
        break;
        default:
        break;
      }
    }
  },
  complete: function(){
    $('#allOpen').html(openApt.length);
    $('#todayApt').html(aptToday.length);
    $('#pendingApt').html(pendApt.length);
  }
});


  $('.nav-link').eq(0).addClass('active');
</script>

<% include ../partial/footer %>
