<% include ../partial/aheader %>
<style media="screen">
.modal-dialog {
  top: 150px;
  left: 150px;
}
</style>

<div id='pageBack' class="container" >
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Gallery Information:
        </div>
        <div class="card-body">
            <dl class='row'>
              <dt class='col-md-6'>Total Images: </dt>
              <dd class='col-md-6 text-right'><span id='imgTot'>[Loading]</span></dd>
              <dt class='col-md-6'>In SlideShow: </dt>
              <dd class='col-md-6 text-right'><span id='imgSlide'>[Loading]</span></dd>
              <dt class='col-md-6'>In Gallery: </dt>
              <dd class='col-md-6 text-right'><span id='imgGallery'>[Loading]</span></dd>
              <dt class='col-md-6'>Space on Disk: </dt>
              <dd class='col-md-6 text-right'><span id='imgSOD'>[Loading]</span></dd>
              <dt class='col-md-6'>Space Used: </dt>
              <dd class='col-md-6 text-right'> <span class='progress text-bottom'> <span id='spaceUsed' class='progress-bar'></span> </span> </dd>
            </dl>
            <div class="card-text text-right">
              <a href='/admin/gallery' type="button" class="btn btn-primary">Gallery</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Appointment Information:
        </div>
        <div class="card-body">
          <dl class='row'>
            <dt class='col-md-6'>Today's : </dt>
            <dd class='col-md-6 text-right'> <span id='todayApt'> [Loading] </span> </dd>
            <dt class='col-md-6'>Open Requests:</dt>
            <dd class='col-md-6 text-right'><span id='pendingApt'> [Loading] </span></dd>
            <dt class='col-md-6'>Appointments:</dt>
            <dd class='col-md-6 text-right'><span id='allOpen'> [Loading] </span></dd>
          </dl>
          <div class="card-text text-right">
            <a href='/admin/calendar' class="btn btn-primary" type="button" name="button">Schedule</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Hours
        </div>
        <div class="card-body">
          <dl class='row'>
            <dt class='col-sm-5 text-right'>Monday</dt>
            <dd id='monInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Tuesday</dt>
            <dd id='tuesInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Wednesday</dt>
            <dd id='wedInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Thursday</dt>
            <dd id='thuInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Friday</dt>
            <dd id='friInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Saturday</dt>
            <dd id='satInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Sunday</dt>
            <dd id='sunInfo' class='col-sm-7'></dd>
          </dl>
          <div class="card-text text-right">
            <button id='edHrsBtn' class="btn btn-primary" type="button" name="button">Edit</button>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- ROW -->
</div> <!-- Container -->

<% include cpModal %>

<script type="text/javascript" src='script/cp.js'></script>
<script type="text/javascript">

  $('.nav-link').eq(0).addClass('active');
</script>

<% include ../partial/footer %>
