h1 {
 text-align: left;
 font-weight: bold;
 color: #444;
 padding: 15px;
 padding-left: 10px;
 border-radius: 3px;
 margin: 0;
}

h1 span {
  font-size: .75em;
}

.calHead {
 width: 14.28%;
 float:left;
 margin: 0;
 padding: 5px;
 border-right: 1px solid #888;
 border-bottom: 1px solid #888;
 text-align: center;
 background: #555;
 color: #fff;
 box-shadow: 2px 2px 5px rgba(0,0,0, .65);
}

.calHead:last-of-type {
  border-right: 1px solid #555;
}

.calDay {
 width: 14.28%;
 height: 75px;
 background-color: #fff;
 color: #8663b4;
 float:left;
 margin: 0 auto;
 padding: 8px;
 border-right: 1px solid #888;
 border-bottom: 1px solid #888;
 box-shadow: 2px 2px 5px rgba(0,0,0, .65);
 transition: all .5s;
}

.calDay.selected {
  background: #8663b4;
  color: #fff;

}


.botLeft {
  border-radius: 0 0 0 10px;
}

.calDay:last-of-type {
  border-radius: 0 0 10px 0;
}

.calDay.disabled {
 background-color: #ccc;
 border-right: 1px solid #888;
 border-bottom: 1px solid #888;
}

.calDay:hover {
 color: #fff;
 background-color: #8663b4;
 border-right: 1px solid #888;
 border-bottom: 1px solid #888;
 cursor: pointer;
}

.calDay.disabled:hover {
 cursor:not-allowed;
 background-color: #ccc;
 color: #8663b4;
}

.calLeft {
 border-left: 1px solid #888;
}

.today {
 color: #8663b4;
 background-color: #e6d3ff;
}

.panel-body input.btn {
  position: absolute;
  right: 35px;
}

#calPanelInfo {
  margin-top: 70px;
}

#calPanelInfo li.list-group-item {
  text-alignment: center;
  padding-left: 25px;
}
.panel-title {
  font-size: 2em;
}
.panel-title span {
  font-size: .75em;
  padding-top: 5px;
}

hr {
  border-top: 1px dashed #8c8b8b;
}

hr:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: #fff;
  color: #8c8b8b;
  font-size: 18px;
}

.panel-body p {
  padding: 15px;
}
