.modal{
  transition: all 1s;
}
.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  margin-top: 200px;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.fade.in {
  opacity: 0.6;
  background-color: #000;
}

.modal-body img {
  width: 95%;
  margin: 15px 7.5%;
}

#cpBtn {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 40px;
  height: 40px;
}

#galleryScrollBox {
  width: 101%;
  height: 700px;
  overflow-y: auto;
}

.modal {
  background-image: url("../images/Monas_final.png");
  background-size: 50%;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#upBtn {
  position: absolute;
  top: 65px;
  right:20px;
}

#upBtn:hover {
  cursor:default;
  color: #fff;
}

#pageBack {
  position: relative;
  background-color: #fff;
  margin-top: 0px;
  padding-top: 100px;
  min-height: 98%;
  z-index: 0;
  box-shadow: 0px 7px 10px rgba(50, 50, 50, .55);
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #e6d3ff;
  background: -moz-radial-gradient(center, ellipse cover,  #e6d3ff 0%, #d9bfff 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #e6d3ff 0%,#d9bfff 100%);
  background: radial-gradient(ellipse at center,  #e6d3ff 0%,#d9bfff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d3ff', endColorstr='#d9bfff',GradientType=1 );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


#slider {
  position: relative;
  width: 950px;
  height: 500px;
  border: 4px solid #fff;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(50,50,50, .6);
  background-color: #fff;
}

#slider img {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  border-radius: 15px;
}

#slide2 {
  z-index: 15;
}

.controls {
  z-index: 20;
  position: absolute;
  bottom: 5px;
  left: 39%;
  min-width: 20%;
  border-radius: 10px;
  background: rgba( 250, 250, 250, .65);
}

.controls .fa {
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  color: #4B0082;
}

.fa.paw.current {
  color: #814CA7;
}

.controls .fa:hover {
  color: #814CA7;
}

.infoBox p {
  margin-top: 20px;
  background: rgba(255, 255, 255, .55);
  border-radius: 10px;
  padding: 15px;
}

.imgBox {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s;
}

.imgBox img{
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(50, 50, 50, .75);
  transition: all 0.25s;
}

.imgBox:hover {
  box-shadow: 0 0 7px 3px #8663b4;
}

.imgBox:hover img {
  box-shadow: none;
}

.tagline {
  padding: 20px;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color: #8663b4;
}

h4.modal-title {
  text-align: center;
  font-size: 1.5em;
}

.card-header {
  background-color: #e6d3ff;
  font-weight: bold;
  color: #723e99;
}

.form-row {
  margin-top: 7px;
}

.btn {
  cursor: pointer;
}

a.btn {
  color: #e6d3ff;
}
