<% include partial/header %>
<script type="text/javascript">
  $('#navCal').addClass('active')
</script>

<link rel="stylesheet" href="/style/calendar.css">

<div class="container">

    <div id="calBox" class="col-md-6">
      <!-- Calendar is built in script  -->
    </div>

</div>

<script type="text/javascript" src="script/calendar.js">
//Calendar script builds calendar and displays appointments
</script>

<% include partial/footer %>
