<% include partial/header %>
<script type="text/javascript">
  $('#navCal').addClass('active')
</script>
<style>
#calPanelInfo {
  margin-top: 70px;
}

#calPanelInfo li.list-group-item {
  text-alignment: center;
  padding-left: 25px;
}
.panel-title {
  font-size: 2em;
}

hr {
  border-top: 1px dashed #8c8b8b;
}

hr:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: #fff;
  color: #8c8b8b;
  font-size: 18px;
}

.panel-body p {
  padding: 15px;
}
</style>
<link rel="stylesheet" href="/style/calendar.css">

<div class="container">
    <div class="col-md-6">
      <div class="panel panel-default" id='calPanelInfo'>
        <div class="panel-heading">
          <h2 class="panel-title">Appointment Info: </h2>
        </div>
        <div class="panel-body">
          <h4 class='text-center'>Please select a date to begin&hellip;</h4>
          <hr>
          <p> &emsp;After choosing the date you would like to schedule, please choose an appropriate time and provide us with your contact details.
           Once we verify the date/time is available we will contact you to confirm/reschedule. </p>
           <hr>
           <p>We currently have 4 time slots for appointments and accept 2 pets per time slot.</p>
           <div class='col-md-3'></div>
           <ul class='list-group col-md-6'>
             <li class='list-group-item'>8:00  A.M.</li>
             <li class='list-group-item'>10:00 A.M.</li>
             <li class='list-group-item'>12:00 P.M.</li>
             <li class='list-group-item'>2:00  P.M.</li>
           </ul>
        </div>
      </div>
    </div>
    <div id="calBox" class="col-md-6">
      <!-- Calendar is built in script  -->
    </div>

</div>

<script type="text/javascript" src="script/calendar.js">
//Calendar script builds calendar and displays appointments
</script>

<% include partial/footer %>
