<% include partial/header %>
<script type="text/javascript">
  $('.nav-link').eq(1).addClass('active');
</script>

<link rel="stylesheet" href="/style/calendar.css">

<div id='pageBack' class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div id="calBox" class="col-md-10">
      <!-- Calendar is built in script  -->
    </div>
  </div> <!-- Row End -->
  <div class="row" style="margin-top: 15px;">
    <div class="col-md-2">  </div>
    <div class="col-md-8">

          <p> &emsp;After choosing the date you would like to schedule, please choose an appropriate time and provide us with your contact details.
           Once we verify the date/time is available we will contact you to confirm/reschedule. </p>
           <hr>
    </div>
  </div>
</div>


<div class="modal new-order" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Appointment &emsp; <span id='dateBox'class='text-muted'></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='aptFrm' action='/newAppointment' method='POST'>
          <input type='hidden' name=apt[status] value='pending'>
          <input id='aptDate' type='hidden' name='apt[date]' value='CHANGE ME'>
          <div class='form-group'>
            <label> Owner's Name: </label>
            <input class='form-control' type='text' name='apt[owner]'>
          </div>
          <div class='form-group col-xs-6'>
            <label> Pet's Name: </label>
            <input class='form-control' type='text' name='apt[pet]'>
          </div>
          <div class='form-group col-xs-6'>
            <label> Breed: </label>
            <input class='form-control' type='text' name='apt[breed]'>
          </div>
          <div class='form-group col-xs-6'>
            <label> Phone: </label>
            <input class='form-control' type='text' name='apt[phone]'>
          </div>
          <div class='form-group col-xs-6'>
            <label> Email: </label>
            <input class='form-control' type='text' name='apt[email]'>
          </div>
          <textarea class='form-control' name='apt[about]' placeholder='Notes. . .'></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button id='aptSubmit' type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="script/calendar.js">
//Calendar script builds calendar and displays appointments
</script>

<% include partial/footer %>
