<% include partial/header %>
<script type="text/javascript">
  $('#navGallery').addClass('active')
</script>

<div class="container">
  <% if(images){ images.forEach(function(image){ %>
    <div class="imgBox pull-left">
      <a href="#" class='imageLink'
        data-ID= "<%= image._id %>">
        <img src="<%= image.thumb %>">
      </a>
    </div>
  <% })}; %>
</div>


<% include partial/footer %>
