<% include partial/header.ejs %>

<script type="text/javascript">
  $('#navHome').addClass('active')
</script>


<div class="container">
<% if(error) { %>
  <div class='flash error'> <%= error.toString() %> </div>
<% } %>
<% if(images.length > 0) { %>
    <div id='slider'>
      <img id='slide1' />
      <img id='slide2' />
      <div class='controls'> </div>
    </div>
<% } %>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="infoBox col-md-7">
        <p>
            Lorem ipsum dolor sit amet, pharetra mauris odio in sociosqu nec sed, primis quam id vivamus, vivamus felis sed vel ligula aliquam ut, luctus sapien at mollis. Ipsum a ante sed voluptate, nec phasellus nec etiam, nam quisque, leo et, sit et. Praesent duis amet semper eros at placerat, vitae cras et, ante mi sodales volutpat vivamus, morbi blandit orci eu eget vel tellus, sed odio venenatis imperdiet vehicula est eget. Et metus luctus cursus lectus tellus tincidunt, vitae rhoncus elementum arcu litora a, risus natoque, tristique nullam, fringilla adipiscing enim sollicitudin a. Eget culpa nibh eu fringilla semper est, lacus enim arcu. Luctus eros donec ante, suspendisse culpa facilisis ut, tortor augue condimentum id, eget sagittis scelerisque. Est vehicula magnis quam luctus commodo nibh, ac consequat, non massa et aliquam at sem. Amet morbi dignissim, wisi quisque in sapien. Fermentum imperdiet molestie, accusamus elit duis dolor maecenas felis, blandit et. In mi, a accumsan amet quisque in sed quis, quis duis sed, malesuada porttitor justo urna cras, cursus nec et pede sit.
          </p>
      </div>
    </div>
<div id='cpBtn'></div>
</div><!--  Page Container   -->

<div class="modal fade" id="cpModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Admin Area</h4>
      </div>
      <div class="modal-body">
        <p>Please enter your credentials&hellip;</p>
        <form method="POST" action="/login">
          <div class="form-group">
            <label> Username: </label>
            <input type="text" class='form-control' name="username">
          </div>
          <div class="form-group">
            <label> Password: </label>
            <input type="password" class='form-control' name="password">
          </div>
          <input type="submit" class="btn btn-lg pull-right btn-primary"  value="Submit">
          <br><br>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src='script/slider.js'></script>  <!--  SlideShow script   -->

<script type="text/javascript">
var imgArray = [];
  <% images.forEach(function(image){ %>
        imgArray.push("<%=image.file%>");
  <% }) %>

  console.log(imgArray);
  sliderInit(imgArray);


  $("#cpBtn").on("click", (e) => {
    $("#cpModal").modal("toggle");
  });
</script>

<% include partial/footer %>
