<% include partial/header.ejs %>
<style media="screen">
  #loading {
    display:block;
    padding-top: 180px;
    font-size: 3em;
    font-weight: bold;
    color: #8663b4;
  }
</style>

<div id='pageBack' class="container">
<% if(error) { %>
  <div class='flash error'> <%= error.toString() %> </div>
<% } %>
<% if(images.length > 0) { %>
    <div id='slider' class='text-center align-middle'>
      <span id='loading'>[Loading] </span>
      <img id='slide1' />
      <img id='slide2' />
      <div class='controls'> </div>
    </div>
<% }else { %>
  <h1> Please add images to the slider. </h1>
<% } %>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="infoBox col-sm-10">
        <h3 class='text-center align-bottom'><img src='/images/dogCartoon.png' style="width: 100px;" class='flip'>&nbsp; You and your furry friends are always welcome! &nbsp;<img src='/images/dogCartoon.png' style="width: 100px;"> </h3>
      </div>
    </div>
<div id='cpBtn'></div>
</div><!--  Page Container   -->

<div class="modal fade" id="cpModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Admin Area</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Please enter your credentials&hellip;</p>
        <form method="POST" action="/login">
          <div class="form-group">
            <label> Username: </label>
            <input type="text" class='form-control' name="username">
          </div>
          <div class="form-group">
            <label> Password: </label>
            <input type="password" class='form-control' name="password">
          </div>
          <input type="submit" class="btn btn-lg pull-right btn-primary"  value="Submit">
          <br><br>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src='script/slider.js'></script>  <!--  SlideShow script   -->

<script type="text/javascript">
var imgArray = [];
  <% images.forEach(function(image){ %>
        imgArray.push("<%=image.file%>");
  <% }) %>

  console.log(imgArray);
  sliderInit(imgArray);

 $('.nav-link').eq(0).addClass('active');
  $("#cpBtn").on("click", (e) => {
    $("#cpModal").modal("toggle");
  });
</script>

<% include partial/footer %>
