<% include partial/header %>
<script type="text/javascript">
  $('.nav-link').eq(2).addClass('active')
</script>

<style media="screen">
  #gMap{
    padding: 10px;

    border-radius: 10px;
  }

  #hoursCard {
  }
</style>

<div id='pageBack' class="container">
  <div class="row">
    <div class="col-8">
      <iframe class='border border-info' id='gMap' width="100%" height="700" frameborder="0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXbSbGVqOOIgRGsv1s-tQyT8&key=AIzaSyBBCXEbP4QTKyKgLdozCEXRmfwwNSDjdbI" allowfullscreen>
    </iframe>
    </div>
    <div class="col-4">
      <div id='hoursCard' class="card border border-info">
        <img class='card-img-top border border-dark' src="images/sign.jpg" alt="">
        <div class="card-body">
          <dl class='row'>
            <dt class='col-sm-5 text-right'>Monday</dt>
            <dd id='monInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Tuesday</dt>
            <dd id='tuesInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Wednesday</dt>
            <dd id='wedInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Thursday</dt>
            <dd id='thuInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Friday</dt>
            <dd id='friInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Saturday</dt>
            <dd id='satInfo' class='col-sm-7'></dd>
            <dt class='col-sm-5 text-right'>Sunday</dt>
            <dd id='sunInfo' class='col-sm-7'></dd>
          </dl>
        </div>
        <img src='/images/cat-book.jpg' class='card-img-bottom border border-dark' >
      </div> <!-- CARD -->

    </div>  <!-- Col-4 DIV -->
  </div>  <!-- ROW -->
</div>


<script type="text/javascript">

$.ajax({
  url:"/info_hours",
  success: function(data){
    $('#monInfo').html(hourString(data['Monday']));
    $('#tuesInfo').html(hourString(data['Tuesday']));
    $('#wedInfo').html(hourString(data['Wednesday']));
    $('#thuInfo').html(hourString(data['Thursday']));
    $('#friInfo').html(hourString(data['Friday']));
    $('#satInfo').html(hourString(data['Saturday']));
    $('#sunInfo').html(hourString(data['Sunday']));
  }
});

function hourString(day){
  if(day.open == 'true'){
    return day.start + " - " + day.end;
  }else {
    return "Closed";
  }
}
</script>

<% include partial/footer %>
