<% include partial/header %>
<script type="text/javascript">
  $('.nav-link').eq(2).addClass('active')
</script>

<style media="screen">
  #gMap{
    padding: 10px;

    border-radius: 10px;
  }

  #hoursCard {
  }
</style>

<div id='pageBack' class="container">
  <div class="row">
    <div class="col-8">
      <iframe class='border border-info' id='gMap' width="100%" height="700" frameborder="0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXbSbGVqOOIgRGsv1s-tQyT8&key=AIzaSyBBCXEbP4QTKyKgLdozCEXRmfwwNSDjdbI" allowfullscreen>
    </iframe>
    </div>
    <div class="col-4">
      <div id='hoursCard' class="card border border-info">
        <img class='card-img-top border border-dark' src="images/sign.jpg" alt="">
        <div class="card-body">
          <dl class='row'>
            <dt class='col-sm-5 text-right'>Monday</dt>
            <dd class='col-sm-7'>8:00am - 8:00pm</dd>
            <dt class='col-sm-5 text-right'>Tuesday</dt>
            <dd class='col-sm-7'>8:00am - 8:00pm</dd>
            <dt class='col-sm-5 text-right'>Wednesday</dt>
            <dd class='col-sm-7'>8:00am - 8:00pm</dd>
            <dt class='col-sm-5 text-right'>Thursday</dt>
            <dd class='col-sm-7'>8:00am - 8:00pm</dd>
            <dt class='col-sm-5 text-right'>Friday</dt>
            <dd class='col-sm-7'>8:00am - 8:00pm</dd>
            <dt class='col-sm-5 text-right'>Saturday</dt>
            <dd class='col-sm-7'>Closed</dd>
            <dt class='col-sm-5 text-right'>Sunday</dt>
            <dd class='col-sm-7'>Closed</dd>
          </dl>
        </div>
        <img src='/images/cat-book.jpg' class='card-img-bottom border border-dark' >
      </div> <!-- CARD -->

    </div>  <!-- Col-4 DIV -->
  </div>  <!-- ROW -->
</div>


<script type="text/javascript">



</script>

<% include partial/footer %>
