<!Doctype html>
<html>
    <head>
      <title>Mona's Pet Salon</title>
      <link rel='stylesheet' href='style/main.css'>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet' crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>

      <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #723e99;">
        <div class="container">
        <a class="navbar-brand" href="/admin">
          Mona's Pet Salon</a>
        <span class='navbar-text'>(614) 316-5971</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav pull-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info">Salon Info</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href="/about">About Mona</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Pictures</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>

      <div class='container'>
          <% if(error && error.length > 0) { %>
              <div class='alert alert-danger'>
                 <span class='glyphicon glyphicon-exclamation-sign'></span> <%= error %>
              </div>
          <% } %>
          <% if(info && info.length > 0) { %>
              <div class='alert alert-info'>
                 <span class='glyphicon glyphicon-ok-sign'></span> <%= info %>
              </div>
          <% } %>
      </div>
